<div class="Conatiner">
  <div class="row d-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Dali Zaydi</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
        <p class="card-text text-center">52 381 162</p>
        <div class="d-flex justify-content-between">
          <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
          <span>
            il y a date
          </span>
          <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
        </div>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Dali Zaydi</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
      <p class="card-text text-center">52 381 162</p>
      <div class="d-flex justify-content-between">
        <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
        <span>
          il y a date
        </span>
        <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
      </div>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Dali Zaydi</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
    <p class="card-text text-center">52 381 162</p>
    <div class="d-flex justify-content-between">
      <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
      <span>
        il y a date
      </span>
      <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Dali Zaydi</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
    <p class="card-text text-center">52 381 162</p>
    <div class="d-flex justify-content-between">
      <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
      <span>
        il y a date
      </span>
      <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Dali Zaydi</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
    <p class="card-text text-center">52 381 162</p>
    <div class="d-flex justify-content-between">
      <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
      <span>
        il y a date
      </span>
      <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
    </div>
</div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Dali Zaydi</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
    <p class="card-text text-center">52 381 162</p>
    <div class="d-flex justify-content-between">
      <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
      <span>
        il y a date
      </span>
      <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
    </div>
</div>
</div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Dali Zaydi</h5>
      <h6 class="card-subtitle mb-2 text-muted text-center">date Rendez-vous</h6>
      <p class="card-text text-center">52 381 162</p>
      <div class="d-flex justify-content-between">
        <i class="nc-icon nc-check-2 text-success font-weight-bold " style="cursor: pointer;"></i>
        <span>
          il y a date
        </span>
        <i class="nc-icon nc-simple-remove text-danger font-weight-bold " style="cursor: pointer;"></i>
      </div>
  </div>
</div>
  </div>
</div>