
<section >
  <div class="full px-2 py-5 px-md-6 text-center text-lg-start" style="background-color: #f5f5f550">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-2 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The optimal solution <br />
            <span style="color:#bfa75d">for your legal needs</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Defending justice with every argument, lawyers stand as guardians of the law, weaving words into shields that protect the rights of the accused and the foundations of a fair society
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-floating mb-3">
                      <input type="text" id="form3Example1" class="form-control" placeholder="First name"  required  />
                      <label for="form3Example1">First name</label>
                      <div class="invalid-feedback">
                        Please enter your First name.
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-floating mb-3">
                      <input type="text" id="form3Example1" class="form-control" placeholder="Last name" required/>
                      <label for="form3Example1">Last name</label>
                      <div class="invalid-feedback">
                        Please enter your last name.
                    </div>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input type="text" id="form3Example1" class="form-control" placeholder="Email Address"required />
                  <label for="form3Example1">Email Address</label>
                  <div class="invalid-feedback">
                    Please enter your last Email Address.
                </div>
                </div>

                <!-- Password input -->
                <div class="form-floating mb-3">
                  <input type="password" id="form3Example1" class="form-control" placeholder="Passowrd" required/>
                  <label for="form3Example1">Passowrd</label>
                  <div class="invalid-feedback">
                    Please enter your last Passowrd.
                </div>
                </div>

               

                <!-- Submit button -->
                <button type="submit" class="btn btn-block mb-4 SignUp"  style="background-color: #bfa75d;" >
                  Sign up
                </button>
                <hr>
                Already Member<a  routerLink="/SignIn"> Sign In Here</a>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</section>
