<section id="rendez-vous">
  <div class="row">
    <div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="title">Meet Title</label>
            <div class="input-group ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><input type="color"
                    class="form-control form-control-color" id="exampleColorInput" value="#563d7c"
                    title="Choose your color"></span>
              </div>
              <input type="text" class="form-control" id="title" placeholder="Enter meet title" name="title" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="start">Start Date and Time</label>
            <input type="datetime-local" class="form-control" id="start" name="start" required>
          </div>
        </div>


        <div class="col-6">
          <div class="form-group">
            <label for="end">End Date and Time</label>
            <input type="datetime-local" class="form-control" id="end" name="end" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button  class="btn btn-block" style="background-color:#bfa75d ;">Add A New Meet</button>
        </div> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-around">
      <button  class="btn " style="background-color:#bfa75d ;"  (click)="filterTodayEvents()">Today</button>
      <button  class="btn " style="background-color:#bfa75d ;" (click)="filterAllEvents()">All</button>
    </div>
    <div class="card-body">
      <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-sm">
          <thead  style="position: sticky; top: 0;  background-color: #F4F3EF; z-index: 1; padding-top: 10px;" class="text-primary" >
            <th>Title</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Color</th>
          </thead>
          <tbody>
            <tr *ngFor="let event of filteredEvents">
              <td>{{ event.title }}</td>
              <td>{{ event.start }}</td>
              <td>{{ event.end }}</td>
              <td [style.background-color]="event.color">{{ event.color }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>